// global declarations
* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: $default-text-color;
  display: table;
  font-family: "Benton Gothic Regular", Arial, sans-serif;
  font-size: percentage($default-font-size/16px);
  height: 100%;
  line-height: $default-line-height;
  padding-bottom: 4em;
  padding-top: 4em;
  margin: 0;
  width: 100%;
}

.clear{
  clear:both;
}

body.noselect {
  @include user-select(none);
}

.ricky{
  margin: 25px auto 0px;
  display: inherit;
}

img.rickroll{
    display:inherit;
    width:40px;
    margin-right: 10px;
    float:left;
}

h1 {
    float:left;
    font-family: 'Press Start 2P', sans-serif;
    font-size:25px;
    line-height: 34px;
    margin: 15px 0 40px 0;
    color: #333;
    text-shadow:
    1px 0px 1px #ccc, 0px 1px 1px #eee,
    2px 1px 1px #ccc, 1px 2px 1px #eee,
    3px 2px 1px #ccc, 2px 3px 1px #eee,
    4px 3px 1px #ccc, 3px 4px 1px #eee,
    5px 4px 1px #ccc, 4px 5px 1px #eee,
    6px 5px 1px #ccc, 5px 6px 1px #eee,
    7px 6px 1px #ccc;
}

div.m-meme {
    margin: 0px auto 50px;
}

h2 {
    font-family: "Benton Gothic Regular", Arial, serif;
}

.content {
  max-width: 1100px;
  margin: 0 auto;
}

.left { float: left; }
.right { float: right; }

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.cf {
    *zoom: 1;
}
