form {
  fieldset.m-fieldset {
      margin: 1em 0 1em 0;
      border-bottom: dashed #ddd 1px;
      display: block;
      clear: both;
  }

  fieldset.m-fieldset:first-of-type {
      margin-top: 0;
  }

  h2 {
    font-size: 17px;
    line-height:18px;
    font-weight: 600;
    margin: 1.5em 0 0.35em;
  }

  h2:first-of-type {
      margin-top: 0;
  }

  h2.note{
    font-size: 12px;
    line-height:12px;
    font-weight: 300;
    margin:0.5em 0;
    color:#888;
    text-style:italic;
    text-align:center;
    border-bottom: dashed #ddd 1px;
    border-top: dashed #ddd 1px;
    padding: 10px 0;
  }

  h3 {
      font-size: 14px;
      font-family: "Benton Gothic Regular", sans-serif;
      line-height: 18px;
      margin: 1.75em 0 0.5em 0;
  }

  fieldset.m-fieldset h3:first-of-type {
      margin-top: 0;
  }

  select,
  textarea,
  input[type="text"],
  input[type="range"],
  .checkbox-group {
    margin-bottom: 1em;
    width: 100%;
  }

  .checkbox-group label {
    font-size: 0.8em;
    font-weight: normal;
    margin-bottom: 0;
  }

  textarea,
  input[type="text"] {
    border: 1px solid #efefef;
    outline: 0;
    padding: 6px 5px;
    font-family: "Benton Gothic Regular", Arial, sans-serif;

    &:focus {
      border: 1px solid lighten($theme-color, 40);
    }
  }

  textarea {
    height: 6em;
    font-family: "Benton Gothic Regular", Arial, sans-serif;
  }

  select,
  {
    border: 1px solid #cfcfcf;
    border-radius: 0;
    font-family: "Benton Gothic Regular", Arial, sans-serif;
  }

  fieldset {
    border: none;
    margin: 0 auto;
    padding: 0;
    font-family: "Benton Gothic Regular", Arial, sans-serif;
  }
}
